
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* { 
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel .img {
  height: 80vh;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.panel {
  color: #fff;
  flex: 0.5;
}